/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: "nssans";
    src: url(../fonts/nssans.ttf);
}

@font-face {
    font-family: "nssansbold";
    src: url(../fonts/nssansbold.ttf);
}

body {
    background-color: #E6E6E9;
}

body>img {
   width: 100vw;
    position: relative; 
    left: 50%;
    margin-left: -50vw;
    max-height: 50vh;
    object-fit: cover;
}

    h2, h3, p, ul, form, a {
    font-family: "nssans";
}

h1, select, fieldset {
    font-family: "nssansbold";
}

h1 {
   font-size: calc(1.1rem + 2vw);
    color: white;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
    color: #083786;
    
}


article a {
    font-size: 1.2rem;
    color: #0079D3;
}

header {
    background-color: white;
    border-bottom: 0.3rem solid #C5C5CB;
    height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

header img {
    height: 1.5rem;
    margin-top: 1.25rem;
}


section:first-of-type {
    position: relative;
    background-color: #083786;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: -3rem;
    border-bottom: 0.2rem solid #C5C5CB;
}

section:first-of-type h1 {
    margin-bottom: 2rem;
}

section select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 1.2rem solid white;
    border-radius: 0rem;
    background-color: white;
    font-size: 1rem;
    color: #083786;
    background-image: url(../images/klokje.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 1.5rem;
}

section select:focus {
    background-image: url(../images/inlogimg.svg);
}

section fieldset {
    color: #083786;
    padding: 1rem;
    background-color: white;
    margin-bottom: 1rem;
    
}

section div>h2 {
    font-size: 1.2rem;
    color: #083786;
    font-family: "nssansbold";
    padding-bottom: 1rem;
    background-color: #FFC917;
    display: inline-block;
    padding: 1rem;
   
}

section div>div:nth-of-type(1) {
    margin-bottom: 1rem;
}

section input[type="checkbox"] {
    margin-right: 0.5rem;
    border: 0.2rem solid;
    border-color: #083786;
    float: left;
}

section fieldset>label {
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: inline-block;
}

body section:first-of-type>div>div>button{ 
    background-color: #0079D3;
    font-family: "nssansbold";
    font-size: 1rem;
    color: white;
    border: 0;
    padding: 1rem 3rem 1rem 3rem;
    border-bottom: 0.2rem solid white;
}

section:nth-of-type(2) {
    background-color: #FFC917;
    padding: 2rem 2rem 1rem 2rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

section:nth-of-type(2) img {
    display: block;
    margin-top: -1.5rem;
    margin-left: -1.5rem;
    width: calc(100% + 3rem);
    height:13rem;
    margin-bottom: 1.5rem;
    object-fit: cover;
}

section:nth-of-type(2) article {
    display: block;
    padding: 2rem;
    background-color: white;
    margin-top: 1rem;
    border-bottom: 0.2rem solid #C5C5CB;
}

main {
    background-color: white;
    padding: 2rem 2rem 1rem 2rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

main>h2, section:nth-of-type(2) h2 {
    color: #083786;
    padding-bottom: 1rem;
}

main article { 
    display: block;
    padding: 1rem;
    background-color: #FFC917;
    margin-top: 1rem;
    border-bottom: 0.2rem solid #C5C5CB;
}

main article img{
    display: block;
    margin-top: -1rem;
    margin-left: -1rem;
    width: calc(100% + 2rem);
    height:8rem;
    margin-bottom: 1.5rem;
    object-fit: cover;
}

article li:nth-of-type(1){
    padding-left: 1.2rem;
    margin-top:0.3rem;
    background-image:url(../images/plusje.svg);
    background-size: 1rem;
    background-repeat: no-repeat;
    margin-right: 1rem;
    }

article li:nth-of-type(2){
    padding-left: 1.4rem;
    background-image:url(../images/klokje.svg);
    background-size: 1.1rem;
    background-repeat: no-repeat;
    background-position: left;
}

article footer {
    color: #083786;
    display: block;
    padding-top: 1rem;
}

article h3, footer, ul, li {
    display: inline-block;
}

main.accountformulier h1 {
    color: #083786;
    padding-bottom: 2rem;
}

main.accountformulier>div>form[action="inlogformulier"] {
    position: relative;
    background-color: #FFC917; 
    padding: 2rem;
}

main.accountformulier>div>form[action="inlogformulier"]>h2 {
    color: #083786;
    padding-bottom: 3rem;
}

main.accountformulier>div>form[action="inlogformulier"]>label {
    position: relative;
    display: block;
    margin-bottom: 1.5rem;
    color: #083786;
    font-size: 1.2rem;
}

main.accountformulier>div>form[action="inlogformulier"]>label>input {
    box-sizing: border-box;
    width: 100%;
    margin-top: 1rem;
    display: block;
    padding: 0.7rem;
}

main.accountformulier>div>form[action="inlogformulier"]>input {
    background-color: #0079D3;
    font-family: "nssans";
    font-size: 1rem;
    color: white;
    border: 0;
    padding: 0.7rem 3rem 0.7rem 1rem;
    border-bottom: 0.2rem solid #083786;
    background-image: url(../images/klokje.svg);
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

main.accountformulier>div>form[action="inlogformulier"]>a{
    color: #0079D3;
    padding-top: 2rem;
/*    margin-left: 9rem;*/
    display: block;
}

main.accountformulier>div>div>h3 {
    padding-left: 2rem; 
    padding-top: 2rem;
    padding-bottom: 3rem;
}


main.accountformulier>div>div>ul>li {
    display: block;
    background-image: url(../images/klokje.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 1.5rem;
    padding: 1rem 1rem 1rem 2rem;
}

main.accountformulier>div>div>a {
    display: block;
    padding-top: 3rem;
    padding-left: 2rem;
}


input:focus {
    background-color: #FFC917;
}


@media (min-width: 45em) {
   
    section>div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    
    section>div>div {
        box-sizing: border-box;
       width: calc(50% - 1rem); 
    }
    
    section>div>article {
        box-sizing: border-box;
        width: calc(33% - 0.5rem); 
    }
    
    section:nth-of-type(2) img {
        height: 20rem;
    }
    
    main>div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    main>div>article {
        box-sizing: border-box;
        width: calc(35% - 1rem); 
    }
    
    main.accountformulier>div>form {
        box-sizing: border-box;
        width: calc(65% - 1rem); 
    }
    
    main.accountformulier>div>form[action="inlogformulier"]>label {
    margin-bottom: 2.5rem;
    }
    main.accountformulier>div>form[action="inlogformulier"]>label>input {
    position: absolute;
    left: 9rem;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0rem;
    padding: 0.7rem;
    width: 60%;
}
    
    main.accountformulier>div>form[action="inlogformulier"]>input, main.accountformulier>div>form[action="inlogformulier"]>a {
    margin-left: 9rem;
    }
    
    main.accountformulier>div>div {
         box-sizing: border-box;
        width: calc(30% - 0.5rem);
    }
    
}

@media (min-width: 65em) {
   
    body {
        max-width: 70rem;
        margin: 0 auto;
    }
    
}

/*Hier begint de CSS voor "inlog"*/



